---
// import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="generator" content={Astro.generator}>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Astro</title>
</head>
<body>
	<h1>Astro</h1>
	<h1>My Blog</h1>
</body>
</html>
